.col-lg-9
	- @users.each do |user|
		%table.table.table-striped
			%tr
				%th.align
					Ім'я
				%th.align
					Останній візит
				%th.align 
					Профіль	користувача
				%tr
					%td.align
						= user.username	
					%td.align
						= user.last_sign_in_at.to_s(:short)	
					%td.align
						= link_to 'Перейти', user, class: 'btn btn-info pull-right view-btn btn-block'
