.col-lg-9
	%table.table.table-striped
		%tr
			%th.align Ім'я
			%th.align Останній візит
			%th.align Профіль	користувача
			- @users.each do |user|
				%tr
					%td.align
						= user.username	
					%td.align
						= user.last_sign_in_at.to_s(:short)	
					%td.align
						= link_to 'Перейти', user, class: 'btn btn-info pull-right view-btn btn-block'
