%section.hbox.stretch
  %aside.aside-lg.bg-black
    %section.vbox.step-sidebar
      %header.header.bg-black.lt
        Sidebar Header
      %section.scrollable 
        Sidebar content
  %section.vbox
    %header.header.bg-light.lter.b-b
      Main Header
    %section.resource.scrollable
      Main Content
