@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  
  height: 100%; /* Temp: Simulates a tall page. */
}
#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  
  -webkit-transform: translateX(0);
  transform: translateX(0);
  
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  
  -webkit-transition: 250ms ease all;
  transition: 250ms ease all;
 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;


}
.show-nav #site-canvas {
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}

#site-menu {
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -250px;

}

#site-menu-right {
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0;
  rigth: -250px;

}
//

#menu-box{
  padding: 10px 0px 10px 0px;
  font-family: "Helvetica Neue";
  height: 100%;
 img{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin: 0 0 0 0;
  }

}

.wrapper{
  text-align: center;
  padding: 15px;
  .text{
    padding: 10px;
    display: block;
    font-size: 18px;
  }
}

#search-box{
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 33%;

}

input[type=search] { 
    background: url('images/icon_search.png') no-repeat scroll 7px 7px;
    padding-left:30px;
    border: 0 none;
    border: 0 none;
    font:  12px Arial,serif;
    color: #777;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;              
}

#content{
  margin: 20px 20px 20px 20px;
  height: 100%;
  width: 100%;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #333;
  color: #fff;
}
#slide_button {
  display: block;
  width: 50px;
  font-size: 34px;
  font-weight: 50;
  color: #21242b;
}