.col-lg-9	
	%h3.align Шпаргалки
	%hr
	- @posts.each do |post|
		.panel
			.panel-body
				%h3.clearfix.m-b
					= post.title
				%hr
				%p
					= raw(post.content)
			.panel-footer.bg-light.lter
				.nav.nav-pills
					= link_to 'View', user_post_path(post.user, post), class: 'btn btn-info pull-right view-btn'
					- if current_user != @user && user_signed_in?
						- if current_user.favorites.find_by_post_id(post.id)
							%i.fa.fa-star.favorite#make-favorite.view-btn{ data: {post_id: post.id, user_email: post.user.id} } 
						- else
							%i.fa.fa-star.unfavorite#make-favorite.view-btn{ data: {post_id: post.id, user_email: post.user.id} }
.col-lg-3
	%h3.align Реклама
.align
	= will_paginate @posts
