@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; /* Temp: Simulates a tall page. */
}
#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  left: 250px;

}


#site-menu {
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -250px;

}


//
.wrapper{
  text-align: center;
  padding: 15px;
  .text{
    padding: 10px;
    display: block;
    font-size: 18px;
  }
  .btn-my{
    display: block;
    border-color: cyan;
    text-transform: uppercase;
    color: cyan;
    background: none;
    width: 100%;
  }
}

#menu-box{
  padding: 10px 0px 10px 0px;
  font-family: "Helvetica Neue";
  height: 100%;
 img{
    vertical-align: middle;
    width: 100px;
    height: 100px;
    }

}


#search-box{
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 33%;

}
input[type=search] { 
    background: url('images/icon_search.png') no-repeat scroll 7px 7px;
    padding-left:30px;
    border: 0 none;
    font: 12px "Arial",serif;
    color: #777;
    width: 150px;
    padding: 6px 15px 6px 35px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;              
}

#content{
  margin: 20px 20px 20px 20px;
  height: 100%;
  width: 1015px;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #333;
  color: #fff;
}
#slide_button {
  display: block;
  width: 50px;
  font-size: 34px;
  font-weight: 50;
  color: #21242b;
}