@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; /* Temp: Simulates a tall page. */
}
#site-canvas {
  width: 82.5%;
  height: 100%;
  position: relative;
  left: 250px;

}


#site-menu {
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -250px;

}

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 7.5px;
  .text{
    float: left;
    margin-left: 2%;
    line-height: 34px;
  }
  small {
    line-height: 34px;
    padding-left: 2px;
  }
  .counter-1 {
    float: left;
    margin-left: 77%;
  }
  .counter {
    float: right;
    margin-left: 5%;
  }
}

.padding-bottom{
  padding-bottom: 50px;
}

//
.wrapper{
  text-align: center;
  padding: 15px;
  .text{
    padding: 10px;
    display: block;
    font-size: 18px;
  }
  .btn-my{
    display: block;
    border-color: cyan;
    text-transform: uppercase;
    color: cyan;
    background: none;
    width: 100%;
  }

}

.logo{
  width: 180px;
}

#box{
  display: inline-block;
  position: relative;
  top: 0;
  left: 1000px;
  font-size: 34px;
  font-weight: 50;
  color: #21242b;
}

#menu-box{
  padding: 10px 0px 10px 0px;
  font-family: "Helvetica Neue";
  height: 100%;
 img{
    vertical-align: middle;
    width: 100px;
    height: 100px;
    }

}

.link-out{
  display: block;
  position: absolute;
  top: 8px;
  right: 50px;
  width: 100px;
  .btn{
    width: 100%;
  }
}

.link-up{
  display: block;
  position: absolute;
  top: 8px;
  right: 60px;
  width: 140px;
  .btn{
    width: 100%;
  }
}

.link-in{
  display: block;
  position: absolute;
  top: 8px;
  right: 200px;
  width: 100px;
  .btn{
    width: 100%;
  }
  margin-right: 10px;
}
#users-list{
  padding-top: 60px; 
}

#search-box{
  display: flex;
  position: absolute;
  top: 13px;
  left: 2%;
  .m-box{
    position: absolute;
    top: 3px;
    left: 2%;
  }
}
input[type=search] { 
    background:  no-repeat scroll 7px 7px;
    padding-left:30px;
    border: 0 none;
    font: 12px "Arial",serif;
    width: 150px;
    padding: 6px 15px 6px 35px;
              
}
.comment-btn{
  height: 94px !important;
  width: 94px;
}

.left-align{
  padding-left: 15px;
  text-align: left;
}

.welcome{
  position: absolute;
  top: 50px;
  left: 10%;
  padding: 20px;
  text-align: center;
  width: 900px;
}

.thumbnail {
  display: block;
  padding: 0px;
  margin-bottom: 6px;
  line-height: 17.428571;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  height: 54px;
  border-radius: -2px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.user-name-align{
  position: relative;
  font-size: large;
  top: -2px;
}

.panel{
  .btn-my{
    border: outset;
    position: relative;
    left: 40%;
    background: lightgrey;
    width: 150px;
  }
  .view-btn{
    position: relative;
    top: 5px;
  }
  .user-logo{
    img{
    vertical-align: middle;
    width: 88px;
    height: 60px;
    }

  }
}
.align{
  text-align: center;
}

.favorite {
  color: gold;
}

#make-favorite {
  font-size: 33px;
  margin-bottom: 10px;
  cursor: pointer;
  span {
    color: #333;
    font-size: 20px;
  }
}



.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: url('http://static.tumblr.com/vv8cdma/Ddzm1ypam/chruch.png') repeat fixed;
  color: #fff;
}

#slide_button {
  display: block;
  width: 50px;
  font-size: 34px;
  font-weight: 50;
  color: #21242b;
}