@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  
  height: 100%; /* Temp: Simulates a tall page. */
}
#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  
  -webkit-transform: translateX(0);
  transform: translateX(0);
  
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  
  -webkit-transition: 250ms ease all;
  transition: 250ms ease all;
 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;


}
.show-nav #site-canvas {
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}

#site-menu {
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -250px;

}

#site-menu-right {
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0;
  rigth: -250px;

}
//

#menu-box{
  padding: 10px 10px 10px 10px;
  font-family: "Courier New", "Book Antiqua", serif;
  height: 1000px;
 img{
    vertical-align: middle;
    width: 50px;
    height: 50px;
  }

}

#search-box{
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 33%;

}



html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #333;
  color: #fff;
}
#slide_button {
  display: block;
  width: 50px;
  font-size: 40px;
  font-weight: 50;
}