!!!
%html
  %head
    / Meta
    %meta{:charset => "utf-8"}/
    %title Off Canvas Menus Demo
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body 
    //
    #site-wrapper
      #site-canvas
        .navbar.navbar-default.navbar-fixed-top
          %a#slide_button.toggle-nav.navbar-brand.navbar-left.glyphicon.glyphicon-th-list{:href => "#"}
          = image_tag "logo_r.png", class: "navbar-brand "
        #site-menu
          =image_tag "shane_founder.jpg", class: "img-circle"
          %h2
            Shane Founder
          %ul.nav.nav-sidebar
            %li
              %a{:href => "/", :title => "Home"} Home
            %li
              %a{:href => "/", :title => "About Me"} About Me
            %li
              %a{:href => "/", :title => "Contact Me"} Contact Me
