%ul#menu
  %li
    %a{:href => "/", :title => "Home"} Home
  %li
    %a{:href => "/about", :title => "About Me"} About Me
  %li
    %a{:href => "/contact", :title => "Contact Me"} Contact Me
#page
  %header
    %h1 My New Site
    %a#toggle-menu{:href => "#"} Menu
    =image_tag "shane_founder.jpg"