.navbar.navbar-default.navbar-fixed-top
  .navbar-collapse.collapse
    .nav.navbar-nav.navbar-right  
      = image_tag "logo_r.png", class: "navbar-brand "
    %ul.btn.nav.navbar-nav
      %li
        %a{:href => "/", :title => "Home"} Home
      %li
        %a{:href => "/about", :title => "About Me"} About Me
      %li
        %a{:href => "/contact", :title => "Contact Me"} Contact Me
      %form.navbar-form{:role => "search"}
        .input-group
          %input#srch-term.form-control{:name => "srch-term", :placeholder => "Search", :type => "text"}/
          .input-group-btn
            %button.btn.btn-default{:type => "submit"}
              %span.glyphicon.glyphicon-search
.row
  .col-sm-3.col-md-2
    =image_tag "shane_founder.jpg", class: "img-circle"
  %p 
    Shane Founder
